@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
  font-weight: bold;
}

:root {
  --text-primary: #23262a;
  --color-text-secondary: #fafafa;
  --bg-color: #fafafa;
  --title-color: #001833;
  --pre-title-color: #3e4462;
  --accent: #8baa36;
  --accent-green:#8baa36;
  --main-light-color: #fafafa;
  --dark-accent: #22252a;
  --light-green-bg: #ebf3d4;
  --placeholder-color: #bdbdbd;
  --border-bottom-color: #e0e0e0;
  --button-border-color: rgba(51, 51, 51, 0.3);
  --line-color: rgba(112, 112, 112, 0.17);
  --input-bg-color: rgba(217, 217, 217, 0.157);
  --input-border-color: #F0F0F0;
  --input-border-color-focus: rgba(35, 38, 42, 0.3);
  --checkbox-color: rgba(126, 126, 126, 0.5);
  --black: #000000;
  --white: #ffffff;
  --scroll-bar-color: #e7e5e5;
  --hover-dark: #1e1f28;
  --error-red: #e74a3b;
  --input-grey: #919196;
  --icon-grey: #c4c4c4;
  --correct-green: #3cbc81;
  --color-toggler-bg: #efefef;
  --footer-nav-hover: #8baa36;
  --transparent-btn-color: #22252a;
  --see-all-hover: #22252a;
  --bottom-block-color: #22252a;
  --dark-accent-unchanged: #22252a;
  --mob-bg-color: #ebf3d4;

  --card-title-bg: #ffffff;

  --fav-card-text: #23262a;
  --fav-card-bg: #ffffff;
  --is-fav-see-btn: #22252a;
  --is-fav-see-btn-hover: #ebf3d4;
  --is-my-see-btn-hover: #22252a;
  --is-fav-see-btn-color: #22252a;
  --is-fav-del-btn: #ebf3d4;
  --is-my-del-btn: #8baa36;
  --is-fav-del-btn-hover: #23262a;
  --is-fav-del-btn-color: #22252a;
  --is-del-btn-color: #FAFAFA;

  --recipe-text-color: #23262A;
  --recipe-card-bg: #ebf3d4;
  --recipe-instruction-color: rgba(0, 0, 0, 0.8);

  --search-input-bg: #fafafa;
  --search-main-btn: #22252a;
  --search-main-btn-hover: #8baa36;
  --search-btn: #8baa36;
  --search-btn-hover: #fafafa;
  --select-bg: #f5f5f5;
  --select-color: #000000;
  --select-options-bg: #ffffff;
  --select-options-hover: #8baa36;
  --select-chosen: #000000;

  --pagination-bg: #fafafa;
  --pagination-shadow: rgba(135, 135, 135, 0.2);
  --pagination-color: #656565;
  --pagination-selected-bg: #ebf3d4;
  --pagination-selected: #22252a;

  --add-input-color: #000000;
  --add-input-opacity: 0.5;
  --add-input-stroke: rgba(250, 250, 250, 0);
  --add-placeholder-color: #000000;
  --add-ingr-input-color: #000000;
  --add-del-btn: #333333;
  --add-increment-btn: #22252a;
  --add-socials: #8baa36;
  
  --popover-border: none;

  --bcg-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 46.3%, rgba(0, 0, 0, 0.35) 72.75%, rgba(0, 0, 0, 0) 100%);
  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.dark {
    --text-primary: #FAFAFA;
    --color-text-secondary: #ffeeee;
    --bg-color: #1E1F28;
    --title-color: #FAFAFA;
    --pre-title-color: #FAFAFA;
    --color-toggler-bg: #8baa36;
    --accent: #22252a;
    --dark-accent: #8baa36;
    --text-primary: #fafafa;
    --title-color: #fafafa;
    --input-border-color: rgba(250, 250, 250, 0.2);
    --input-border-color-focus: rgba(250, 250, 250, 0.5);
    --button-border-color: #FAFAFA;
    --input-bg-color: transparent;
    --black: rgba(250, 250, 250, 0.5);
    --footer-nav-hover: #22252a;
    --transparent-btn-color: #fafafa;
    --bottom-block-color: #fafafa;
    --mob-bg-color: #1E1F28;
    --border-bottom-color: rgba(250, 250, 250, 0.30);

    --card-title-bg: #2A2C36;

    --fav-card-text: rgba(250, 250, 250, 0.60);
    --fav-card-bg: #2A2C36;
    --is-fav-see-btn: #8baa36;
    --is-fav-see-btn-hover: #22252A;
    --is-my-see-btn-hover: #22252A;
    --is-fav-see-btn-color: #fafafa;
    --is-fav-del-btn: #1E1F28;
    --is-my-del-btn: #1E1F28;
    --is-fav-del-btn-hover: #8baa36;
    --is-fav-del-btn-color: #fafafa;

    --recipe-card-bg: #2A2C36;
    --recipe-instruction-color: #fafafa;

    --search-input-bg: transparent;
    --search-main-btn: #8baa36;
    --search-btn: #8baa36;
    --search-btn-hover: #22252a;
    --select-bg: transparent;
    --select-color: #fafafa;
    --select-options-bg: #8baa36;
    --select-options-hover: #ffffff;

    --pagination-bg: #2A2C36;
    --pagination-shadow: rgba(135, 135, 135, 0);
    --pagination-color: rgba(250, 250, 250, 0.60);
    --pagination-selected-bg: #8baa36;
    --pagination-selected: #FAFAFA;

    --add-input-color: #fafafa;
    --add-input-opacity: 1;
    --add-input-stroke: rgba(250, 250, 250, 0.20);
    --add-placeholder-color: rgba(250, 250, 250, 0.6);
    --add-ingr-input-color: #fafafa;
    --add-del-btn: #FAFAFA;
    --add-increment-btn: #fafafa;
    --add-socials: #fafafa;

    --popover-border: 1px solid #8baa36;

    & h1 {
      --dark-accent: #fafafa;
    }

    & a,
    button,
    li,
    span {
      --accent: #8baa36;
      --bg-color: #fafafa;
    }

    & footer {
      --bg-color: #fafafa;

      & svg {
        --accent: #8baa36;
      }

      & a {
        --accent: #fafafa;
        --bg-color: #1E1F28;
      }

      & button {
        --accent: #22252a;
      }
    }
  }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.28px;

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }

  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding-right: 0;
  padding-left: 0;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
li {
  list-style: none;
}

ul {
  list-style: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
