@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url(./assets/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url(./assets/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url(./assets/fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url(./assets/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
  font-weight: bold;
}

:root {
  --text-primary: #23262a;
  --color-text-secondary: #7e7e7e;
  --bg-color: #fafafa;
  --title-color: #001833;
  --pre-title-color: #3e4462;
  --accent: #8baa36;
  --dark-accent: #22252a;
  --light-green-bg: #ebf3d4;
  --placeholder-color: #bdbdbd;
  --border-bottom-color: #e0e0e0;
  --button-border-color: rgba(51, 51, 51, 0.3);
  --line-color: rgba(112, 112, 112, 0.17);
  --input-bg-color: #f5f5f5;
  --input-border-color-focus: rgba(35, 38, 42, 0.2);
  --checkbox-color: rgba(126, 126, 126, 0.5);
  --pagination-color: #656565;
  --black: #000000;
  --white: #ffffff;
  --scroll-bar-color: #e7e5e5;

  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  padding-top: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.28px;

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }

  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding-right: 0;
  padding-left: 0;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.ul {
  list-style: none;
  padding-left: 0px;
}

.is-hidden {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
